<link   rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" 
    crossorigin="anonymous">

body{
  font-family: arial;
  background-color: grey;
}

.navigation-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  height: 10vh;
  padding: 20px;
  border-bottom: solid;
}

.navigation-bar img{
  width: 40px;
  height: 40px;
}


.block-right a{
  text-decoration: none;
  color: white;
  padding: 10px;
}
/* End Navigation Bar */

/* Nos classiques */
h2{
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: grey;
  color: white;
}

.container{
  text-align: center;
  background-color: grey;
  color: black;
}

.card img{
  height: 200px;
  width: 200px;
  text-align: center;
}

.card{
  height: 350px;
  width: 250px;
}

.card p{
  padding-top: 50px;
}

.card h3{
  padding-top: 10px;
}
/*End nos classiques */

/* Footer */
.footer {
  color: white;
  background-color: grey;
  font-size: 50px;
}
/* End Footer */
